body {
  width: 600px;
  height: 560px;
  background-color: #b1e9a3;
  padding: 10px;
}

.title {
  color: darkslategray;
  text-shadow: 3px 3px 1px lightgray;
}

button {
  background: none;
  font-weight: bold;
  font-size: 1rem;
  padding: 6px 22px;
}
button:hover {
  background: red;
  color: white;
}

.card-grid {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}